<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Sodoku Game</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">sonpc.ga</a>
	</nav>

	<main role="main" class="container">

		<div class="starter-template">
			<h1>Sodoku Game</h1>
			<h2>
				<span th:text="'Hello, ' + ${message}"></span>
			</h2>
			<table class="center"
				style="border: 1px solid black; width: 400px; height: 400px;"
				th:classappend="${list == underfined} ? table-hidden : 'aa'">
				<tr th:each="item,iter : ${list}"
					th:classappend="${iter.index == 2 || iter.index == 5 } ? border-bottom : ''">
					<td style="text-align: center" th:each="val,iter1 : ${item}"
						th:text="${val}"
						th:classappend="${iter1.index == 2 || iter1.index == 5 } ? border-right : ''"></td>
				</tr>
			</table>

			<a href="/" class="btn btn-success" style="margin-top: 10px">
				<i class="fa fa-arrow-circle-o-left"></i>&nbsp;Back
			</a>
		</div>

	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>